
.images {
  .container {
    width: 1440px;
    padding: 0;
  }
}

.images__inner {
  display: flex;
  align-items: center;
  justify-content: center;
}

.images__img-mobile {
  display: none;
}

@media only screen and (max-width: 520px) {
  .images {
    .container {
      max-width: 520px;
      width: 100%;
    }
  }

  .images__inner {
    display:block;
    width: 100%;
  }

  .images__img-mobile {
    display: inline-block;
    width: 100%;
    
  }

  .images__img {
    display: none;
  }

}

@media only screen and (max-width: 440px) {
  .images {
    .container {
      max-width: 440px;
      width: 100%;
    }
  }

  .images__inner {
    display:block;
    width: 100%;
  }

  .images__img-mobile {
    display: inline-block;
    width: 100%;
    
  }

  .images__img {
    display: none;
  }
  
}
