.services {
	.container {
		max-width: 1440px;
		padding: 0;
	}
}

.services__box {
	@include flex-starter;

	&:nth-child(2) {
		flex-direction: row-reverse;
	}
}

.services__info {
	position: relative;
	z-index: 10;
	max-width: 720px;
	padding: 143px 106px 142px 165px;
}

.services__box:nth-child(2) {
	.services__info {
		padding: 143px 165px 142px 110px;
	}

	.services__link::before {
		background-color: #fe7766;
	}
}

.services__title {
	@include diff-font;
	margin: 0;
	margin-bottom: 32px;
	padding: 0;
	font-weight: 900;
	font-size: 40px;
	line-height: 49px;
	letter-spacing: -0.285714px;
	color: #24303e;
}

.services__textbox {
	max-width: 445px;
	width: 100%;
}

.services__text {
	margin: 0;
	margin-bottom: 40px;
	padding: 0;
	font-weight: 600;
	font-size: 18px;
	line-height: 30px;
	letter-spacing: -0.128571px;
	color: #808397;
}

.services__link {
	@include diff-font;
	position: relative;
	font-weight: 900;
	font-size: 15px;
	line-height: 25px;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #24303e;
	text-decoration: none;

	&::before {
		position: absolute;
		z-index: -1;
		bottom: -2px;
		left: -8px;
		width: 137px;
		height: 10px;
		background-color: #fad400;
		mix-blend-mode: normal;
		opacity: 0.25;
		border-radius: 28px;
		transition: all 0.3s ease;
		content: '';
	}

	&:hover::before {
		opacity: 1;
	}
}

.services__img {
	display: inline-block;
	width: 720px;
	height: 600px;
}

.services__partbox {
	flex-grow: 1;
	padding-top: 398px;
	padding-bottom: 59px;
	text-align: center;
	background-image: url('../images/services-img3.png');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	&:nth-child(2) {
		background-image: url('../images/services-img4.png');
	}
}

.services__subtitle {
	@include diff-font;
	margin: 0;
	margin-bottom: 27px;
	padding: 0;
	font-weight: 900;
	font-size: 28px;
	line-height: 35px;
	text-align: center;
	letter-spacing: -0.2px;
	color: #24554a;
}

.services__partbox > .services__textbox1 > .services__text {
	margin: 0;
	padding: 0;
	font-weight: 600;
	font-size: 16px;
	line-height: 27px;
	text-align: center;
	letter-spacing: -0.114286px;
	color: #3e7467;
}

.services__textbox1 {
	margin: 0 auto;
	width: 339px;
}

@media only screen and(max-width:520px) {
	.services__box {
		flex-direction: column;

		&:nth-child(1) {
			flex-direction: column-reverse;
		}

		&:nth-child(2) {
			flex-direction: column-reverse;

			.services__info {
				max-width: 100%;
				padding: 64px 24px 64px 24px;
				text-align: center;
			}
		}
	}

	.services__info {
		max-width: 100%;
		padding: 64px 24px 64px 24px;
		text-align: center;
	}

	.services__img {
		width: 100%;
		height: 312px;
	}

	.services__textbox {
		max-width: 327px;
	}

	.services__title {
		margin-bottom: 24px;
		font-size: 32px;
		line-height: 39px;
		text-align: center;
		letter-spacing: -0.228571px;

		span {
			display: block;
		}
	}

	.services__text {
		margin-bottom: 32px;
		font-size: 18px;
		line-height: 30px;
		text-align: center;
		letter-spacing: -0.128571px;
	}

	.services__partbox {
		width: 100%;
	}
}
